In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
dataset=pd.read_csv('anime.csv')

In [21]:
dataset.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [22]:
dataset.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

In [51]:
df=dataset[['name', 'genre', 'type']]

In [52]:
df.sample(5)

,name,genre,type
5725,Lovely Movie: Itoshi no Muco,Slice of Life,TV
843,Shigatsu wa Kimi no Uso: Moments,"Music, Shounen",OVA
3499,Koko wa Green Wood,"Comedy, Drama, Romance, Shoujo, Slice of Life,...",OVA
5576,Xi Avant,"Adventure, Sci-Fi",Movie
10771,Xiong Chu Mo,"Comedy, Kids",TV

In [53]:
df.shape

(12294, 3)

In [54]:
df=df.dropna(axis=0) #dropping null rows

In [55]:
df.isnull().sum()

name     0
genre    0
type     0
dtype: int64

In [57]:
df['genre']=df['genre'].str.replace(","," ")

In [58]:
df.head(2)

,name,genre,type
0,Kimi no Na wa.,Drama Romance School Supernatural,Movie
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Mili...,TV

In [59]:
df['type'].value_counts()

type
TV         3777
OVA        3310
Movie      2306
Special    1674
ONA         655
Music       488
Name: count, dtype: int64

In [60]:
df['combined']=df['genre']+" "+df['type']
df.head(1)

,name,genre,type,combined
0,Kimi no Na wa.,Drama Romance School Supernatural,Movie,Drama Romance School Supernatural Movie

In [61]:
df=df.drop(['genre','type'],axis=1)
df.head(2)

,name,combined
0,Kimi no Na wa.,Drama Romance School Supernatural Movie
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Mili...

In [62]:
df.head(5)

,name,combined
0,Kimi no Na wa.,Drama Romance School Supernatural Movie
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Mili...
2,Gintama째,Action Comedy Historical Parody Samurai S...
3,Steins;Gate,Sci-Fi Thriller TV
4,Gintama&#039;,Action Comedy Historical Parody Samurai S...

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
tfidf=TfidfVectorizer(stop_words='english')
tfidf_matrix=tfidf.fit_transform(df['combined'])

In [72]:
cosine_sim=cosine_similarity(tfidf_matrix)

In [73]:
import pickle
pickle.dump(df, open("df.pkl","wb"))
pickle.dump(tfidf, open("tfidf.pkl","wb"))
pickle.dump(cosine_sim, open("cosine_sim.pkl","wb"))